:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 66 54 84;
  --oui-color-primary-light: 93 83 123;
  --oui-color-primary-darken: 43 38 56;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 57 52 74;
  --oui-color-link-light: 81 72 107;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 150 18 45;
  --oui-color-danger-light: 182 53 73;
  --oui-color-danger-darken: 122 8 37;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 130 64;
  --oui-color-success-light: 40 182 90;
  --oui-color-success-darken: 0 96 48;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 128 64 0;
  --oui-color-warning-light: 171 109 55;
  --oui-color-warning-darken: 96 48 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 29 26 38;
  --oui-color-fill-active: 36 32 47;

  --oui-color-base-1: 51 46 66;
  --oui-color-base-2: 43 38 56;
  --oui-color-base-3: 36 32 47;
  --oui-color-base-4: 29 26 38;
  --oui-color-base-5: 22 20 28;
  --oui-color-base-6: 18 16 24;
  --oui-color-base-7: 66 54 84;
  --oui-color-base-8: 57 52 74;
  --oui-color-base-9: 14 13 18;
  --oui-color-base-10: 8 8 16;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 150 18 45;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 130 64;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 29 26 38;
  --oui-gradient-primary-end: 57 52 74;

  --oui-gradient-secondary-start: 43 38 56;
  --oui-gradient-secondary-end: 66 54 84;

  --oui-gradient-success-start: 0 96 48;
  --oui-gradient-success-end: 40 182 90;

  --oui-gradient-danger-start: 122 8 37;
  --oui-gradient-danger-end: 182 53 73;

  --oui-gradient-brand-start: 93 83 123;
  --oui-gradient-brand-end: 66 54 84;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 96 48 0;
  --oui-gradient-warning-end: 171 109 55;

  --oui-gradient-neutral-start: 18 16 24;
  --oui-gradient-neutral-end: 29 26 38;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}